h1.text1 FIRST EVER APP
div.icons
    img(src="images/icons.png")
    img(src="images/1i.png")
div.icss
    div.ics1
        div.icons_text
            h2 Easy customize
            div.text_down
                include text-icons.pug
    div.ics2
         div.icons_text
            h2 Save time
            div.text_down
                include text-icons.pug

    div.ics
        div.icons_text
            h2 Responsive
            div.text_down
                include text-icons.pug
div.fon_ics

div.text_ics
    div.texxt
        div.up_text
            h1 8M
            div.down_text
                h2 USERS

    div.texxt
        div.up_text
            h1 91M
            div.down_text
                h2 SONGS
    div.texxt
        div.up_text
            h1 125K
            div.down_text
                h2 DOWNLOADS
    div.texxt
        div.up_text
            h1 954K
            div.down_text
                h2 ARTISTS
