- var menu = ['HOME', 'FEATURES', 'SCREENSHOTS', 'VIDEO', 'SERVICES', 'TESTIMONIALS', 'OUR TEAM', 'PARTNERS', 'PRICING']
header.blockHeader

    .logoHeader
        h1 App Logo
    .navHeader
        each url in menu
            a.navStyle(href="#")=url