div.heroBlock
    h1.hero__title
        |BEST MUSIC APP FOR</br>
        |ANDROID AND IOS
    img.mobila(src="images/mobila.png")
    div.google
        img(src="images/google.png")
        span1 Download on </br>
            span2 Google Play
    div.apple
        img(src="images/apple.png")
        span1 Downloac on </br>
            span2 Appstore

    h2.hero_futures FEATURES

    div.features
        div.left__text
            div.features-block
                img.features-img(src="images/pc.png")
                div.features-description
                    h1 Responsive Design
                    div.features-text
                        include feature-text.pug


            div.features-block
                img.features-img(src="images/gaika.png")
                div.features-description
                    h1 Powerful settings
                    div.features-text
                        include feature-text.pug

        div.phone
            img(src="images/phone.png")

        div.right__text
            div.features-block
                div.features-description
                    h1 Unlimited color
                    div.features-text
                        include feature-text.pug
                img.features-img(src="images/kist.png")

            div.features-block
                div.features-description
                    h1 Ready made modules
                    div.features-text
                        include feature-text.pug
                img.features-img(src="images/box.png")


