div.heroBlock
    h1.hero__title
        |BEST MUSIC APP FOR</br>
        |ANDROID AND IOS
    img.mobila(src="images/mobila.png")
    div.google
        img(src="images/google.png")
        span1 Download on </br>
            span2 Google Play
    div.apple
        img(src="images/apple.png")
        span1 Downloac on </br>
            span2 Appstore

    h2.hero_futures FEATURES

