div.mainblock
    div.left__phone
        img(src="images/phone1.png")
        div.main-description
            span Future is here
            h1 Music medication for modern day living  Europea
            div.nonetext
                include nonetext.pug
