| European flounder mahseer Australian lungfish longnose dace pleco, butterflyfish ghost knifefish tripod fish.</br>
| Gulper eel common tunny dealfish burbot flier tope.</br>
br
| North American darter pomfret Black scabbardfish slipmouth dragon goby blue catfish driftwood catfish.</br>
| Cherry salmon shortnose sucker mako shark.