.text1{
  padding-left: 1240px;
  padding-top: 40px;
  font-weight: bold;
}

.icons{
  padding-top: 70px;
  padding-left: 930px;
}

.ics1
{
  width: 300px;
  bottom: 30px;
  margin-left: 100px;
  border-right: 1px solid black;
}

.ics2
{
  width: 300px;
  bottom: 30px;
  margin-left: 100px;
  border-right: 1px solid black;
}

.ics
{
  width: 300px;
  bottom: 30px;
  margin-left: 80px;
}

.icss{
  display: flex;
  width: 900px;
  margin-left: 780px;
}

.icons_text{
  width: 300px;
}

.fon_ics{
  margin-top: 40px;
  margin-left: 690px;
}

.texxt{
  display: block;
  width: 900px;
  margin-left: 110px;
  color: white;
  border-right: 1px solid white;
}

.up_text{
  font-size: 24pt;
}

.down_text{
  font-size: 10pt;
  padding-left: 30px;
}

.text_ics{
  background:url("../../images/fon3.png") no-repeat;
  display: flex;
  margin-left: 690px;
  width: 1370px;
}

