.blockHeader {
  display: block;
  width: 1360px;
  height: 70px;
}

.logoHeader {
  float: left;
  display: block;
  width: 325px;
  height: 70px;
  text-align: right;
}

.navHeader {
  float: right;
  display: block;
  width: 1035px;
  height: 70px;
}

.navStyle{
  margin: 0;
  padding-top: 30px;
  padding-left: 35px;
}