body{
  margin: 0;
  padding: 0;
}

.heroBlock{
  float: left;
  display: block;
  background:url("../../images/fon11.png") no-repeat;
  margin-left: 690px;
  width: 2500px;
  height: 580px;
  position: relative;
}
.hero__title{
  padding-left: 150px;
  padding-top: 60px;
  float: left;
  color: white;
  font-size: 35pt;

}

.hero_futures{
  font-weight: bolder;
  font-size: 20pt;
  padding-left: 700px;
  padding-top: 10px;
}

.fon__goog{
  float: left;
  padding-left: 100px;
}

.mobila {
  display: block;
  padding-left: 150px;
  width: 600px;
  height: 650px;

}

.google{
  img,{
    display: inline-block;
    float:left;
    margin-right: 17px;
  }
  span2,{
    font-weight: bold;
  }
  position: absolute;
  bottom: 250px;
  left: 190px;
  color: white;
  font-size: 14pt;
  border: 2px solid #ecf0f1;
  border-radius: 10px;
  display: inline-block;
  padding: 6px;
 }

.apple{
  img,{
    display: inline-block;
    float:left;
    margin-right: 17px;
  }
  span2,{
    font-weight: bold;
  }
  position: absolute;
  bottom: 250px;
  left: 400px;
  color: white;
  font-size: 14pt;
  border: 2px solid #ecf0f1;
  border-radius: 10px;
  display: inline-block;
  padding: 6px;
}

.hero_futures{
  font-weight: bold;
 }

.features {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 270px;

  .left__text {
    margin-right: 70px;
    .features-img {
      margin-right: 40px;
    }
  }
  .right__text {
    margin-left: 70px;
    .features-img {
      margin-left: 40px;
    }
  }

  &-block {
    display: flex;
    margin-bottom: 52px;
  }

  &-img {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 17px;
  }

  &-description {
    width: 220px;

    h1 {
      font-size: 18px;
      font-family: "Roboto";
      color: rgb(22, 30, 38);
      line-height: 1.2;
    }
  }

  &-text {
    margin-top: 32px;
  }

  .left__text &-text, h1 {
    text-align: left;
  }
  .right__text &-text, h1 {
    text-align: right;
  }
}
